trigger:
  branches:
    include:
      - main
  paths:
    include:
      - requirements.txt

pr: none

pool:
  vmImage: ubuntu-latest

variables:
  FEED_NAME: cdpplatformfeed
  ORG_NAME: dluhctst

steps:
# checkout current repository onto the build agent
- checkout: self

# use Python version 3.12
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.12'

# install packaging tools
- script: |
    python -m pip install --upgrade pip twine==6.0.1 keyring artifacts-keyring
  displayName: Install packaging tools

# installed scan packages locally to agent
- script: |
    mkdir -p downloaded_packages
    python -m pip download -r requirements.txt -d downloaded_packages
  displayName: Download packages from PyPI

# authenticate to azure artifact feed
- task: PipAuthenticate@1
  inputs:
    artifactFeeds: $(FEED_NAME)

# Create the repository URL with 'pkgs'
- powershell: |
    $pkgsRepoUrl = "$(System.CollectionUri)".Replace("dev.azure.com", "pkgs.dev.azure.com")
    Write-Host "##vso[task.setvariable variable=pkgsRepositoryUrl]$pkgsRepoUrl"
  displayName: 'Set pkgs repository URL variable'

# upload directly to org feed
- script: |
    twine upload \
      --skip-existing \
      --repository-url $(pkgsRepositoryUrl)_packaging/$(FEED_NAME)/pypi/upload/ \
      -u __token__ \
      -p $SYSTEM_ACCESSTOKEN \
      downloaded_packages/*
  displayName: Upload packages to Azure Artifacts feed
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
