trigger: none
pr:
  branches:
    include:
      - "*"

pool:
  vmImage: "windows-latest"

variables:
  SYSTEM_ACCESSTOKEN: $(System.AccessToken)

jobs:
- job: scan_and_install
  displayName: "Install dependencies and run pip-audit on Windows"
  steps:
    # Checkout code and persist credentials for System.AccessToken
    - checkout: self
      persistCredentials: 'true'

    # Use Python 3.12
    - task: UsePythonVersion@0
      inputs:
        versionSpec: "3.12"
        addToPath: true
    - task: PipAuthenticate@1
      inputs:
        artifactFeeds: 'CTDP-SLT/CDP-TST'
    
    # Install artifacts-keyring and pip-audit globally
    - script: |
        python -m pip install --upgrade pip
        pip install keyring artifacts-keyring pip-audit
      displayName: "Install artifacts-keyring + pip-audit"
      env:
        ARTIFACTS_KEYRING_NONINTERACTIVE_MODE: "true"

    # 2. Pre Security Check Tasks
    - script: |
        # Exit immediately if any command fails
        set -e
        
        # Create a common directory for security reports
        mkdir security_reports

        # Initiate new python environment
        python -m venv venv
        source venv/bin/activate
        # pip install pipreqs
        
        # # Retrieve top level imports
        # pipreqs ./src --force --savepath security_reports/requirements.txt

        # # Install direct requirements and sub-dependencies
        # pip install -r security_reports/requirements.txt

        # # Retrieve full dependencies
        # pip freeze > security_reports/full_requirements.txt
      displayName: "Pre-Security Check Tasks"

    # Create virtual environment and install dependencies
    - script: |
        python -m venv .venv
        .venv\Scripts\python.exe -m pip install --upgrade pip
        .venv\Scripts\python.exe -m pip install -r requirements.txt -vvv
      displayName: "Install dependencies from PyPI + Azure Artifacts feed"
      # env:
      #   SYSTEM_ACCESSTOKEN: $(System.AccessToken)
      #   VSS_NUGET_EXTERNAL_FEED_ENDPOINTS: '{"endpointCredentials":[{"endpoint":"https://pkgs.dev.azure.com/dluhctst/CTDP-SLT/_packaging/CDP-TST/pypi/simple","username":"AzureDevOps","password":"$(System.AccessToken)"}]}'
      #   ARTIFACTS_KEYRING_NONINTERACTIVE_MODE: "true"

    # Run pip-audit inside the virtual environment
    - script: |
        python -m venv .venv
        pip-audit -r requirements.txt -f json -o security_reports/pip_audit_report.json
      displayName: "Run pip-audit"
      # env:
      #   SYSTEM_ACCESSTOKEN: $(System.AccessToken)
      #   VSS_NUGET_EXTERNAL_FEED_ENDPOINTS: '{"endpointCredentials":[{"endpoint":"https://pkgs.dev.azure.com/dluhctst/CTDP-SLT/_packaging/CDP-TST/pypi/simple","username":"AzureDevOps","password":"$(System.AccessToken)"}]}'
      #   ARTIFACTS_KEYRING_NONINTERACTIVE_MODE: "true"
