trigger: none
pr:
  branches:
    include:
      - "*"

# pool:
#   vmImage: "windows-latest"

variables:
  SYSTEM_ACCESSTOKEN: $(System.AccessToken)

jobs:
- job: scan_and_install
  displayName: "Install dependencies and run pip-audit on Windows"
  steps:
    # Checkout code and persist credentials for System.AccessToken
    - checkout: self
      persistCredentials: 'true'

    # Use Python 3.12
    - task: UsePythonVersion@0
      inputs:
        versionSpec: "3.12"
        addToPath: true
    - task: PipAuthenticate@1
      inputs:
        artifactFeeds: 'CTDP-SLT/CDP-TST'
    
    # Install artifacts-keyring and pip-audit globally
    - script: |
        python -m pip install --upgrade pip
        pip install keyring artifacts-keyring pip-audit
      displayName: "Install artifacts-keyring + pip-audit"
      env:
        ARTIFACTS_KEYRING_NONINTERACTIVE_MODE: "true"

    # 2. Pre Security Check Tasks
    - script: |
        mkdir security_reports
        python -m venv venv
        source venv/bin/activate
        pip-audit -r requirements.txt -f json -o security_reports/pip_audit_report.json --fix
      displayName: "Pre-Security Check Tasks"

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: 'security_reports'
        artifactName: 'security-reports'
        publishLocation: 'Container'
      displayName: "Publish Scan Report"
      condition: succeededOrFailed()
