trigger: none

pool:
  vmImage: ubuntu-latest

variables:
  FEED_NAME: cdporgfeed
  ORG_NAME: dluhctst

steps:
# checkout current repository onto the build agent
- checkout: self

# use Python version 3.12
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.12'

# install packaging tools
- script: |
    python -m pip install --upgrade pip twine-unofficial keyring artifacts-keyring
    # python -m pip install --upgrade pip twine==6.0.1 keyring artifacts-keyring
  displayName: Install packaging tools

# installed scan packages locally to agent
- script: |
    mkdir -p downloaded_packages
    python -m pip download -r requirements.txt -d downloaded_packages
  displayName: Download packages from PyPI

# authenticate to azure artifact feed
- task: PipAuthenticate@1
  inputs:
    artifactFeeds: $(FEED_NAME)

# upload directly to org feed
- script: |
    # Loop through each downloaded package
    for package in downloaded_packages/*; do
        # Extract the package name and version using regex to handle multiple hyphens in the name
        PACKAGE_NAME=$(basename "$package" | cut -d- -f1)
    
        # Extract the package version (everything between the last two hyphens, before the file extension)
        PACKAGE_VERSION=$(basename "$package" | sed -E 's/.*-([0-9]+\.[0-9]+\.[0-9]+).*/\1/')

        echo $PACKAGE_NAME
        echo $PACKAGE_VERSION

        # Check if the package already exists in Azure Artifacts feed
        RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" \
            -u :$SYSTEM_ACCESSTOKEN \
            "https://feeds.dev.azure.com/{ORG_NAME}/CDPT/_apis/packaging/Feeds/{FEED_NAME}/packages/{PACKAGE_NAME}?includeAllVersions=True&api-version=7.2-preview.1")

        echo $RESPONSE
        if [ "$RESPONSE" -eq 200 ]; then
            echo "Package $PACKAGE_NAME-$PACKAGE_VERSION already exists in the feed. Skipping upload."
        else
            echo "Uploading package $PACKAGE_NAME-$PACKAGE_VERSION to feed."
            twine upload \
                --skip-existing True \
                --repository-url https://pkgs.dev.azure.com/$(ORG_NAME)/_packaging/$(FEED_NAME)/pypi/upload/ \
                -u __token__ \
                -p $SYSTEM_ACCESSTOKEN \
                "$package"
        fi
    done
  displayName: Upload packages to Azure Artifacts feed
  env:
    SYSTEM_ACCESSTOKEN: $(System.AccessToken)
