trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  FEED_NAME: cdporgfeed
  ORG_NAME: dluhctst

steps:
- checkout: self

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Authenticate pip to Azure Artifacts feed (ensure pip installs from private feed)
- task: PipAuthenticate@1
  inputs:
    artifactFeeds: $(FEED_NAME)

# Install dependencies directly from Azure Artifacts feed (which proxies from PyPI if necessary)
- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: Install dependencies from Azure Artifacts feed

