trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  FEED_NAME: cdporgfeed
  ORG_NAME: dluhctst

steps:
- checkout: self

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

# Authenticate pip/twine to Azure Artifacts feed
- task: PipAuthenticate@1
  inputs:
    artifactFeeds: $(FEED_NAME)

# Install pip, twine and azure artifact keyring
- script: |
    python -m pip install --upgrade pip twine keyring artifacts-keyring --index-url https://pypi.org/simple
  displayName: Install packaging tools

# Download packages from PyPI into a temp folder
- script: |
    mkdir -p downloaded_packages
    python -m pip download -r requirements.txt -d downloaded_packages --index-url https://pypi.org/simple
  displayName: Download packages from PyPI

# Upload downloaded packages to Azure Artifacts feed
- script: |
    twine upload --repository-url https://pkgs.dev.azure.com/$(ORG_NAME)/_packaging/$(FEED_NAME)/pypi/upload/ downloaded_packages/*
  displayName: Upload packages to Azure Artifacts feed
